@charset "UTF-8";

    *{
        font-family: Verdana, Geneva, Verdana, Geneva, Tahoma, 
        sans-serif;
        box-sizing: border-box;
    }

    /* ELEMENTOS DA INTERFACE */

    body{
        background-color: #15142b;
        background-image: linear-gradient(180deg, #0e6251, #081813);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        margin: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    main{
        max-width: 400px;
    }


    main {
        background-color: white;
        background-color: #291f6c;
        color: white;
        text-align: center;
        margin-top: auto;
        padding: 5px;
    }

    /* DISIGN DO FORMULARIO*/


    form {
        background-color: rgba(234, 156, 243, 0.2);
        padding: 90px 20px 90px 20px;
        border-radius: 12px;
    }


    input[type=reset] {
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        margin: 2px 2px;
        border: none;
        cursor: pointer;
    }

    input[type=button] {
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        margin: 2px 2px;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }
    input[type=button]:hover, buttom:hover {
        background-color: #11db83;
        
    }

    input[type=texfield] {
        font-size: 18px;
        padding: 24px;
        margin: 12px;
        
    }

    input[id=igual] {
        width: 90%;
        background-color: #11db83;
        font-size: 1em;
        color: white;
        padding: 10px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }