@charset "UTF-8";

    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-sizing: border-box;
    }

    /* ELEMENTOS DA INTERFACE */

    body{
        background-color: #15142b;
        background-image: linear-gradient(180deg, #0e6251, #081813);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        margin: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    main{
        max-width: 400px;
    }

    main {
        background-color: white;
        color: white;
        text-align: center;
        margin-top: auto;
    }

    /* DISIGN DO FORMULARIO*/


    form {
        border-style: solid;
        border-color: #11db83;
    }

    input[type=reset] {
        width: 55px;
        height: 55px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 0px -3px;
        border: none;
        cursor: pointer;
        background-color: #ef9228 ;
    }

    input[type=reset]:hover {
        background-color: #edac62;
        
    }

    input[type=button] {
        background-color: white;
        width: 55px;
        height: 55px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0px -3px;
        text-decoration: none;
        border: none;
        font-size: 20px;
        outline: none;
        position: relative;
    }

    input[type=button]:hover {
        background-color: #cae2d9;
    }

    input[type=textfield] {
        background-color: #11db83;
        background-size: contain;
        font-size: 18px;
        height: 50px;
        border: none;
        margin: 5px 5px;
        
    }

    input[type=textfield]:hover {
        background-color: #4cf0a9;
        
    }

    input[id=igual] {
        width: 90%;
        height: 55px;
        background-color: #090a07;
        font-size: 2em;
        color: white;
        margin: 5px 0;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }

    input[id=igual]:hover{
        background-color: #aaf6d5;
        color: #000;
        
    }